<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

    <body>
        <header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="">Deals Ke</a>
                </li>
                
                <li class="pull-right">
                <ul class="top-menu">

                    <li id="top-search">
                        <a class="tm-search" href=""></a>
                    </li>

   
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="tm-settings" href=""></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li>
                                <a data-action="fullscreen" href=""><i class="md md-fullscreen"></i> Toggle Fullscreen</a>
                            </li>
                            <li>
                                <a data-action="clear-localstorage" href=""><i class="md md-delete"></i> Clear Local Storage</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-person"></i> Privacy Settings</a>
                            </li>
                            <li>
                                <a href=""><i class="md md-settings"></i> Other Settings</a>
                            </li>
                        </ul>
                    </li>
                
                    </ul>
                </li>
            </ul>
            
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        
        <section id="main">
            <aside id="sidebar">
                <div class="sidebar-inner c-overflow">
                    <div class="profile-menu">
                        <a href="">
                            <div class="profile-pic">

                            </div>

                            <div class="profile-info">
                                Menu : Malinda Hollaway

                                <i class="md md-arrow-drop-down"></i>
                            </div>
                        </a>

                        <ul class="main-menu">
                            <li>
                                <a href="profile-about.html"><i class="md md-person"></i> View Profile</a>
                            </li>
                        
                            <li>
                                <a href=""><i class="md md-history"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                    <ul class="main-menu">
                        <li><a href=""><i class="md md-home"></i> Home</a></li>
                        <li><a href=""><i class="md md-home"></i> About</a></li>
                        <li><a href=""><i class="md md-home"></i> Contact</a></li>
                        

                   </ul>
                </div>
            </aside>
            
           
            
            <section id="content">
                <div class="container">
                    <div class="block-header">
                        <h2>Dashboard</h2>
                        
                        <ul class="actions">
                            <li>
                                <a href="">
                                    <i class="md md-trending-up"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="md md-done-all"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="" data-toggle="dropdown">
                                    <i class="md md-more-vert"></i>
                                </a>
                                
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="">Refresh</a>
                                    </li>
                                    <li>
                                        <a href="">Manage Widgets</a>
                                    </li>
                                    <li>
                                        <a href="">Widgets Settings</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>
                    
                    <div class="card">
                       
                        <div class="card-body">
                            <img class ="product-img" src="img/products/nuts.png">
                            <div class="product-title">
                                All you can eat African Nuts
                            </div>
                            <div class="offer">20% Off</div>
                            <div class="product-price">
                                <div class="location">
                                Java , TRM - Thika Road
                                </div>
                                <div class="price">
                                    <div class="new">
                                        Ksh800
                                    </div>
                                    <div class="old">
                                        Ksh1000
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                  
                    
                    


                        

                    </div>
                </div>
            </section>
        </section>
        
        <footer id="footer">
            Copyright &copy; 2015 Deals Ke
        </footer>
        

        
      